/*
  AftrWork CSS
  By Luis
*/

/* General */

body {
	font-family: "Raleway";
}

a {
	color: #eb9f0c;
}

.navbar {
	color: #555;
}

.navbar a:hover {
	color: #eee;
}

.page {
	background: #fff;
}

/* AftrWork Profile View */
.profile-pic {
	text-align: center;
}

.profile-pic img {
  border-radius: 100%;
  margin: auto;
  vertical-align: middle;
  border: solid 1px #888;
  width: 80px;
  height: 80px;
  background: url(http://placehold.it/80x80&text=No+Pic);
}

/* AftrWork Contact View */
.chat {
  background-color: #4cd964 !important;
}

/* AfterWork Login View */
.login {
	
}

.loader {
	background: #eb9f0c; /* Old browsers */
	background: -moz-linear-gradient(top,  #eb9f0c 0%, #f3b337 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eb9f0c), color-stop(100%,#f3b337)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eb9f0c 0%,#f3b337 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eb9f0c 0%,#f3b337 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eb9f0c 0%,#f3b337 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eb9f0c 0%,#f3b337 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb9f0c', endColorstr='#f3b337',GradientType=0 ); /* IE6-9 */

}

.loader .page-content {
	width: 100%;
	height: 100%;

	/* Internet Explorer 10 */
	display:-ms-flexbox;
	-ms-flex-pack:center;
	-ms-flex-align:center;

	/* Firefox */
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;

	/* Safari, Opera, and Chrome */
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;

	/* W3C */
	display:box;
	box-pack:center;
	box-align:center;
}

.login .logo {
	text-align: center;
	padding: 0 0 20px 0;
}

.logo img {
	max-width: 80%;
}

.login .button {
	background: #eb9f0c;
	border: none;
	color: #fff;
	font-weight: bold;
}

#login p {
	color: white;
}

#profile-accepted, #profile-rejected {
	position: absolute;
	z-index: 10000;
	width: 100%;
	bottom: 0;
	left: 0;
	padding: 20px 10px;
	font-size: 20px;
	color: #222;
}

#profile-rejected {
	background: #e6adad;
}

#profile-accepted {
	display: none;
	background: #cce6ad;
}

.swipe {
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: scroll;
	background: #fff;
}

.home .page-content {
	padding: 0;
}

.head {
	margin: 0;
	padding: 60px 10px 10px 10px;
	text-align: center;
	border-bottom: solid 1px #ddd;
}

.head h3 {
	font-family: "Raleway";
	font-size: 18px;
	font-weight: 500;
	margin: 10px 0 0 0;
}

.head h4 {
	font-family: "Raleway";
	font-size: 14px;
	font-weight: 500;
	color: #eb9f0c;
	margin: 10px 0 5px 0;
}

.profile-buttons a {
	width: 33.3%;
	display: inline-block;
	text-align: center;
	padding: 10px 0;
	color: #fff;
	border-right: solid 1px #ddd;
	margin: 0;
	float: left;
	border-bottom: solid 1px #ddd;
	position: relative;
	z-index: 100;
}

.profile-buttons a:last-child {
	border-right: none;
}

.profile-buttons a i {
	background: #eb9f0c;
	border-radius: 50px;
	height: 26px;
	width: 26px;
	color: #fff;
	font-size: 22px;
	padding: 10px;
	line-height: 26px;
}

.profile-buttons a.active {
	border-bottom: none;
}

.clearfix {
	clear: both;
}

.list-block {
	width: 100%;
	margin: 0;
}

.list-block ul {
	border: none;
	font-family: "Raleway";
	font-weight: 400;
	font-size: 14px;
}

.list-block .item-content {
	border-bottom: solid 1px #ddd;
}

.list-block .item-inner {
	border: none;
}

.list-block .item-title {
	font-size: 14px;
	color: #888;
}

.toolbar {
	position: fixed;
	bottom: 0;
}

.tabbar {
	font-size: 24px;
	color: #fff;
	background: #333;
	border: none;
}

.tabbar .toolbar-inner {
	padding: 0;
}

.tabbar .tab-link {
	color: #eee;
	border-right: solid 1px #fff;
}

.tabbar .tab-link.active {
	background: #fff;
	color: #333;
}

.tabbar .tab-link:last-child {
	border: none;
}

.navbar {
	border: none;
	background: #333;
	color: #eee;
}

.navbar img {
	width: 120px;
}
